
03.ReinforcementIronCalculator - WPF Application/.vs/ReinforcementIronCalculator/v16/.suo
03.ReinforcementIronCalculator - WPF Application/.vs/ReinforcementIronCalculator/v16/.suo
03.ReinforcementIronCalculator - WPF Application/.vs/ReinforcementIronCalculator/v16/.suo
*.cache
*.cache
